ADMIN_PASSWORD=Joan5078
PORT=3000
SESSION_SECRET=change-this-to-a-long-random-string
GITHUB_TOKEN=
GITHUB_REPO=christophererick807-design/bitvalve-p2p
GITHUB_BRANCH=master
GITHUB_TRADE_PATH=public/trade-config.json